.dis{
    font-size: 3em;
    color: rgb(189, 3, 3)
}
.dis1{
    
    color: #2A0A0A;
    font-size: 2.5em;
    letter-spacing: 5px;
}
.jumbotron{
    opacity: 0.8;
}
.second{
    opacity:0.9;
    background-color: #F5ECCE;
}
.rounded-circle{
    background-color: #2A0A0A;
}
.para{
    font-size: 20px;
    color: black;
    font: bold;
}
.btn{
    background-color: #2A0A0A;
    color: white;
}
.btn:hover, .btn:focus{
    background-color: #ff4000;
    color: white;
}
.col-lg-4{
    text-align: center;
}
.head4{
    margin-top: 20px;
    color: #4D0101;
}
.detail{
    color: white;
    text-decoration: none;
}
.detail:hover{
    color: #ff4000;
}
.detail1{
    color: white;
    padding-left: 10px;
    text-decoration: none;
}
.detail1:hover{
    color: #ff4000;
}
.foot{
    color: white;
}
.hr{
   background-color: white;
}
.foo{
    padding-bottom: 10px;
}
.inventory-body{
    padding-top: 25px;
}
.back{
    background-image: url('/assets/cof24.jpg') ;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -25px;
}
   