<app-navbar></app-navbar>
<div class="container-fluid back">
<div class="inventory-body" >
<div class="container">
<section id="order" >
    <div class="container">
         <div class="row">
             <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                 <div class="container1 col-lg-8 col-md-8 col-sm-8 col-xs-8 jumbotron">
                    <h1 class="jumbotron-heading">Place Your Order Now</h1>
                    <hr class="hr1">
                     <form id="appointment-form" role="form" method="post" action="#">

                         <div class="formdetail">
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <label for="coffee" class="lbl">Coffee Menu</label>
                                     <select class="form-control" id="coffee">
                                     <option>1</option>
                                     <option>2</option>
                                     <option>3</option>
                                     <option>4</option>
                                     </select>
                             </div>
                             <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                 <label for="quan" class="lbl"> Quantity</label>
                                 <input type="text" class="form-control" id="quan" placeholder="Quantity">
                             </div>
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <label for="food" class="lbl">Food Menu</label>
                                 <select class="form-control" id="food">
                                     <option>1</option>
                                     <option>2</option>
                                     <option>3</option>
                                     <option>4</option>
                                 </select>
                             </div>
                             <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                 <label for="quan" class="lbl"> Quantity</label>
                                 <input type="text" class="form-control" id="quan" placeholder="Quantity">
                                 </div>
                             
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <button type="submit" class="btn btn-default "> Add to cart </button>
                             </div>
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><br>
                                 <hr style="color:#2A0A0A;border-top:1px solid;width:100%"><br>
                             </div>
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <label for="name" class="lbl"> Name</label>
                                 <input type="text" class="form-control" id="name" placeholder="Full Name">
                             </div>
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <label for="email" class="lbl">Email</label>
                                 <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <label for="tp" class="lbl">Phone Number</label>
                                 <input type="tel" class="form-control" id="tp" placeholder="Phone">
                             </div>
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <!--   <label class="control-label" for="date">Date</label>
                                     <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text">
                                     <label for="day">Date</label>
                                     <input type="date" class="form-control" id="bday" name="day" placeholder="MM/DD/YYY">-->
                                 <label for="date" class="lbl">Delivery Date</label>
                                 <input type="date" name="date" value="" class="form-control">
                             </div>
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <label for="address" class="lbl">Delivery Address</label>
                                 <textarea class="form-control" rows="6" id="address" name="address" placeholder="Address"></textarea>
                             </div>
                             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <button type="submit" class="btn btn-default " > Order</button>
                             </div>
                         </div>
                  </form>
              </div>
              <div class="col-md-2 col-sm-2"></div>  
         </div>
    </div>   
</section>
<hr class="hr">
<footer class="foo">
    <p class="pull-right"><a href="#" class="detail">Back to top</a></p>
    <p class="foot">&copy; The Coffee Shop  <a href="#" class="detail1">Privacy</a> &middot; <a href="#" class="detail1">Terms</a></p>
</footer>
</div>
</div>
</div>