.container{
    padding-top: 25px;
}
h2{
    color: #2A0A0A;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
hr{
    padding-top: 2px;
    background-color: #2A0A0A;
}
.row{
    padding-left: 15px;
    padding-right: 15px;
}
form{
    padding-top: 8px;
}
.card{
    background-color: #F2F2F2;
}
.btn{
    background-color: #ff4000;
    color: white;
}
.btn:hover{
    background-color: #2A0A0A;
    color: white;
}
.card{
    margin-top: 15px;
}
.buttontop{
    padding-top: 15px;
    padding-bottom: 15px;
}
.social-icon li{
    list-style: none;
    display: inline-block;
}
.social-icon li a{
    color: #2A0A0A;
    border-radius: 50px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-right: 0px;
    margin-left: 0px;
    
    
}
.social-icon li a:hover{
    background-color: #ff4000;
    color: white;
}