<app-nav-admin></app-nav-admin>
<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a class="cardText" [routerLink]="['/menu_admin']">
                <div class="card1 mb-4 shadow-sm box1">
                    <div class="card-body">
                        <img class="card-img-top" src="/assets/cup.png" alt="Card image cap">
                        <br><br>
                        <h5>Menu</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a class="cardText" [routerLink]="['/order_user']">
                <div class="card2 mb-4 shadow-sm box2">
                    <div class="card-body">
                        <img class="card-img-top" src="/assets/cup.png" alt="Card image cap">
                        <br><br>
                        <h5>Order</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a class="cardText" [routerLink]="['/reserve_admin']">
                    <div class="card1 mb-4 shadow-sm box1">
                        <div class="card-body">
                            <img class="card-img-top" src="/assets/cup.png" alt="Card image cap">
                            <br><br>
                            <h5>Reserve</h5>
                        </div>
                    </div>
                </a>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a class="cardText" [routerLink]="['/message_admin']">
                    <div class="card2 mb-4 shadow-sm box2">
                        <div class="card-body">
                            <img class="card-img-top" src="/assets/cup.png" alt="Card image cap">
                            <br><br>
                            <h5>Messages</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a class="cardText" [routerLink]="['/event_admin']">
                    <div class="card1 mb-4 shadow-sm box1">
                        <div class="card-body">
                            <img class="card-img-top" src="/assets/cup.png" alt="Card image cap">
                            <br><br>
                            <h5>Events</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a class="cardText" [routerLink]="['/conce_admin']">
                        <div class="card2 mb-4 shadow-sm box2">
                            <div class="card-body">
                                <img class="card-img-top" src="/assets/cup.png" alt="Card image cap">
                                <br><br>
                                <h5>Concessions</h5>
                            </div>
                        </div>
                    </a>
            </div>
        </div>
        
   
</div>