<app-nav-user></app-nav-user>
<app-alert></app-alert>
<flash-messages></flash-messages>
<div class="container-fluid back">
<div class="inventory-body" >
<div class="container">
  <div id="cont">
  <section class="contact" >
      <div class="container">
           <div class="row">
  
                <div class="col-md-4 col-sm-4"></div>
                <div class="col-md-8 col-sm-8 jumbotron jumbot">
                     <!-- CONTACT FORM HERE -->
                     <form [formGroup]="messageForm" (ngSubmit)="onMessageSubmit()">
  
                          <!-- SECTION TITLE -->
                          <div class="section-title">
                               <h1 class="head1">Leave us a Message</h1>
                               <h4 class="head4">We love hearing from you, let us know what's on your mind</h4>
                          </div>
                          <br><br>
                          <div class="sec" >
                               <div class="form-group col-md-12 col-sm-12">
                                    <label for="name" class="lbl">Name</label>
                                    <input type="text" class="form-control" formControlName="name" id="name" name="name" placeholder="Full Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name is required</div>
                                    </div>
                            
                               </div>
  
                               <div class="form-group col-md-12 col-sm-12">
                                    <label for="email" class="lbl">Email</label>
                                    <input type="email" class="form-control" formControlName="email" id="email" name="email" placeholder="Your Email" [(ngModel)]="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                    </div>
                            
                               </div>
                               <div class="form-group col-md-12 col-sm-12">
                                    <label for="Message" class="lbl">Message</label>
                                    <textarea class="form-control" rows="5" formControlName="messages" id="messages" name="messages" placeholder="Message" [ngClass]="{ 'is-invalid': submitted && f.messages.errors }"></textarea>
                                    <div *ngIf="submitted && f.messages.errors" class="invalid-feedback">
                                        <div *ngIf="f.messages.errors.required">Message is required</div>
                                    </div>
                            
                                    <br>
                                    <!--<button type="submit" class="form-control btn" id="cf-submit" name="submit">Submit</button>-->
                                    <button [disabled]="loading" class="btn btn-primary">Submit</button>
                                    <!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    -->
                               </div>
                          </div>
                    </form>
                </div>
           </div>
      </div>
  </section>
  <br><br>
  <footer class="foo">
      <div class="jumbotron jumbo">
           <div class="row">
                <div class="col-md-4 col-sm-4 block">
                     <div class="footer-thumb"> 
                          <h5 class="head5">Address</h5>
                          <p class="para">The Coffee Shop</p>
                          <p class="para">233 10th Ave</p>
                          <p class="para">Kandy</p><br>
                         
                     </div>
                </div>
  
                <div class="col-md-4 col-sm-4 block"> 
                      <div class="footer-thumb">
                           <div class="opening-hours">
                                <h5 class="head5" >Opening Hours</h5>
                                <p class="para">Monday - Friday : <span>08:00 AM - 10:00 PM</span></p>
                                <p class="para">Saturday : <span>09:00 AM - 06:00 PM</span></p>
                                <p class="para">Sunday : <span>Closed</span></p><br>
                           </div> 
   
                          
                      </div>
                 </div>
  
                <div class="col-md-4 col-sm-4 block"> 
                     <div class="footer-thumb"> 
                          <h5 class="head5">Contact </h5>
                         
                            <div class="contact-info">
                                <p class="para"><i class="fa fa-phone"></i> 081-060-0160</p>
                                <p class="para"><i class="fa fa-phone"></i> 071-552-5520</p>
                                <p class="para"><i class="fa fa-envelope-o"></i> <a href="#" class="email"> coffee@company.com</a></p>
                            </div>
                            <ul class="social-icon">
                              <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                         </ul>
                     </div>
                </div>
           </div>
      </div>
      <hr class="hr">
      <p class="pull-right"><a href="#" class="detail">Back to top</a></p>
      <p class="foot">&copy; The Coffee Shop  <a href="#" class="detail1">Privacy</a> &middot; <a href="#" class="detail1">Terms</a></p>
  </footer>
  </div>
  </div>
</div>
</div>
