<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-md  mb-4 ">
  <a class="navbar-brand mr-auto mr-lg-0" href="#">   Coffee Shop</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" navbar-collapse offcanvas-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active" [routerLinkActive]="[Active]" [routerLinkActiveOptions]="{Exact:true}">
        <a class="nav-link" [routerLink]="['/']" >Home</a>
      </li>
      <li class="nav-item " [routerLinkActive]="[Active]" [routerLinkActiveOptions]="{Exact:true}">
        <a class="nav-link" [routerLink]="['/menu']" >Menu</a>
      </li>
      <li class="nav-item " [routerLinkActive]="[Active]" [routerLinkActiveOptions]="{Exact:true}">
        <a class="nav-link" [routerLink]="['/servings']" >Services</a>
      </li>
      <li class="nav-item " [routerLinkActive]="[Active]" [routerLinkActiveOptions]="{Exact:true}">
        <a class="nav-link" [routerLink]="['/contact']" >Contact</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <button class="btn my-2 my-sm-0 "[routerLink]="['/signup']" type="submit">Sign Up</button>
      <button class="btn my-2 my-sm-0" [routerLink]="['/login']"  type="submit">Login</button>
    </form>
  </div>
</nav>