<app-nav-admin></app-nav-admin>
<app-alert></app-alert>
<div class="container">
  <div class="row">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-5 col-sm-10 col-md-10 col-lg-10">

      <div class="card mb-4 shadow-sm" *ngFor="let concession of concessions">
        
        <div class="card-body">
          <h4>Concession Request</h4>
          <hr>
          <p><b>Name : </b>{{ concession.name }}</p>
          <p><b>Post : </b>{{ concession.post }}</p>
          <p><b>Institute : </b>{{ concession.institute }}</p>
          <p><b>Email : </b>{{ concession.email }}</p>
          <p><b>Tel : </b>{{ concession.phone }}</p>
          <p><b>Event Details : </b>{{ concession.event }}</p>
          <p><b>Other Details : </b>{{ concession.detail }}</p>

          <!--<div class="d-flex justify-content-between align-items-center">-->
              <div class="social-icon">         
                  <!-- <li><a href="#" class="fa fa-pencil" attr="facebook icon"></a></li> -->
                  <li><a (click)="deleteConcession(concession._id)" class="fa fa-trash-o"></a></li>            
              </div>
         <!-- </div>-->
        </div>
      </div>
    </div>

  </div>
</div>