.jumbotron{
    margin-top: 30px;
    padding-top: 40px;
}
.title{
    font-size: 2.5em;
    text-align: center;
    color: #2A0A0A;
}
.lc{
    color: #2A0A0A;
    font: bolder;
}
.btn{
    background-color: #2A0A0A;
    color: white;
}
.btn:hover{
    background-color: #ff4000;
}
.back{
    background-image: url('/assets/coffeeback.jpg') ;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -25px;
    padding-bottom: 60px;
}
   